<h1>Welcome to the Show Journal!</h1>
<%= link_to "See All Shows", shows_path %><br />

<% if logged_in? %>
    <%= link_to "My Account", user_path(current_user) %>
<% else %>
    <%= link_to "Log In", login_path %><br />
    <%= link_to "Create Account", new_user_path %><br />
<% end %>