<h1>Your Journal</h1>

<ul>
    <% @shows.each do |show| %>
        <li><%= link_to show.title, user_show_path(current_user, show) %>: <br />
            <% current_user_viewings(show).each do |viewing|%>
                <%= viewing_date(viewing) %>
            <% end %>
        </li>
    <% end %>
</ul>