<h1>Reviews</h1>
<% if @show %>
    <h2>For <%= @show.title %></h2>
<% end %>

<ul>
    <% @reviews.each do |review| %>
        <li><em><%= review.user.username %> says about <%= review.show.title %></em>: <%= review.body %></li>
    <% end %>
</ul>